
/* Contenedor del formulario */
.content form{
    max-width: 720px;
    margin: 0 auto;
    padding: 16px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

/* boton barra----------------------------------------------------------------------------------------------- */
.navegacion {
    width: 220px;
    height: 100vh;
    background-color: #333;
    color: white;
    position: fixed;
    top: 0;
    left: -220px; 
    padding-top: 60px;
    transition: left 0.3s ease;
    overflow: hidden;
}
.navegacion.active {
    left: 0;
}

.navegacion a {
    display: block;
    color: white;
    padding: 12px 20px;
    text-decoration: none;
    transition: background 0.3s;
    white-space: nowrap;
}

.navegacion a:hover {
    background-color: #575757;
}

.content {
    margin-left: 220px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}
/* boton barra --------------------------------------------------------------------*/

